#myScrollspy{
  position: fixed;
  width: 350px;
  right: 0px;
  top:20%;
  background: #ffffff;
  padding: 15px;
  border: 1px solid #33A1C9;
  border-radius: 5px 0px 0px 5px;
  z-index: 1000;
  @media screen and (max-width: 768px) {
    display: none;
  }
}
.intro-arrivals {
  font-family: Helvetica,Arial,sans-serif;
  font-style: italic;
  font-size: 32px;
  line-height: 32px;
  margin-bottom: 25px;
}